@using Microsoft.AspNetCore.Identity
@using TheBlogProject.Services
@using Newtonsoft.Json

@model TheBlogProject.Models.Post

@inject UserManager<BlogUser> userManager
@inject IImageService imageService

@{
    ViewData["Title"] = "Details";
}

<!-- Post Content-->
        <article class="mb-4">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        @Html.Raw(Model.Content)
                    </div>
                </div>
            </div>
        </article>

<hr/>
<article>
    <div class="row">        
        <div class="col text-center font-weight-bold h3">
                Custom Post Tags
        </div>
    </div>
     <div class="row">        
         <div class="col text-center">
            @foreach(var tag in Model.Tags)
            {
                <a class="btn btn-warning btn-sm btn-outline-dark" role="button asp-action="TagIndex" asp-route-tag ="@tag.Text.ToLower()">#@tag.Text</a>
            }
        </div>
    </div>
</article>

<hr/>

<div>
    @if(User.Identity.IsAuthenticated)
    {
        <form asp-action="Create" asp-controller="Comments" method="post">
            @Html.Hidden("PostId", Model.Id)

            <div class="form-group">
                <label class="h2 control-label font-monospace weight-bold">Add Comment</label>
                <textarea name="body" class="form-control" rows="10"></textarea>
            </div>
            <div class="d-grid col-12 mx-auto">
            <button type="submit" class="btn btn-dark mt-1">Submit</button>
            </div>
        </form>
    }
    else
    {
        <a class="btn btn-sm btn-dark" asp-area="Identity" asp-page="/Account/Login">
        Login to add comments    
        </a>
    }
</div>

<hr/>
<button id="commentSection" class="btn btn-sm btn-dark">@Model.Comments.Count COMMENT(S)</button>

@foreach (var comment in Model.Comments)
{
    <div class="d-flex border p-0 mb-2 bg-light">
        <img class="mr-3 mt-3 rounded-circle" style="width:60px;" src="@imageService.DecodeImage(comment.BlogUser.ImageData, comment.BlogUser.ContentType )"/>
        <div>
            <h4>@comment.BlogUser.FullName</h4>
            <small><i> Posted on @comment.Created.ToString("MMM dd, yyyy")</i></small>
            <p>@comment.Body</p>

            @if(comment.Moderated is null && comment.Deleted is null && comment.BlogUserId == userManager.GetUserId(User))
            {
                <hr />
                <button data-bs-toggle="modal" data-bs-target="#editModal" class="btn-sm btn-dark float-right font-weight-bold">EDIT</button>
            }

        </div>
    </div>

   @*Modals*@
   @*Mathieu: copy form bootstrap needs carving*@
   <div class="modal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Modal body text goes here.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
}


<!-- Displaying Comments related to this Post -->
<!-- Display the image of the Comment's Author -->